node_modules/
dist/
deploy_versions/
.temp/
.rn_temp/
.taro/
.DS_Store
.swc
coverage/
*.local
*.log
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
.env.local
.env.*.local
!.env.development
!.env.production
!.env.test
.idea/
.vscode/
project.private.config.json
